<?php

$dbhost = "localhost";
$dbname = "phpgridserver";
$dbuser = "phpgridserver";
$dbpass = "phpgridserver";

require_once("config.mysql.php");

$cfg_AuthenticationService = array(
	"use" => "services/authentication/PasswordAuthenticationService"
);

$cfg_AdminAuthenticationService = array(
	"use" => "services/authentication/PasswordAuthenticationService"
);

$cfg_UserAuthenticationService = array(
	"use" => "services/authentication/PasswordAuthenticationService"
);

$cfg_DestinationLookupService = array(
	"use" => "services/destinationlookup/HG"
);

$cfg_LaunchAgentService = array(
	"use" => "connectors/launchagent/json"
);

$cfg_HTTPConnectorService = array(
	"use" => "connectors/http/Curl"
);

$cfg_FriendsSimConnectorService = array(
	"use" => "connectors/sim/Friends/LocalOnly"
);

$cfg_ImageConverterService = array(
	"use" => "imageconverter/None"
);

$cfg_IMService = array(
	"use" => "services/im/Grid"
);

require_once("config.hg.php");
require_once("config.acl.php");

