<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="accounts">
                    <match url="^accounts$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="rest_accounts.php" />
                </rule>
                <rule name="auth">
                    <match url="^auth(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="rest_auth.php{R:1}" />
                </rule>
                <rule name="authorization">
                    <match url="^authorization$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="rest_authorization.php" />
                </rule>
                <rule name="avatar">
                    <match url="^avatar$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_avatar.php" />
                </rule>
                <rule name="grid">
                    <match url="^grid$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_grid.php" />
                </rule>
                <rule name="griduser">
                    <match url="^griduser$" ignoreCase="false" />
                    <action type="Rewrite" url="/rest_griduser.php" />
                </rule>
                <rule name="helo">
                    <match url="^helo" ignoreCase="false" />
                    <action type="Rewrite" url="rest_helo.php" />
                </rule>
                <rule name="get_grid_info">
                    <match url="^get_grid_info$" ignoreCase="false" />
                    <action type="Rewrite" url="get_grid_info.php" />
                </rule>
                <rule name="json_grid_info">
                    <match url="^json_grid_info" ignoreCase="false" />
                    <action type="Rewrite" url="json_grid_info.php" />
                </rule>
                <rule name="presence">
                    <match url="^presence$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_presence.php" />
                </rule>
                <rule name="map">
                    <match url="^map(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="map.php{R:1}" />
                </rule>
                <rule name="map capital">
                    <match url="^MAP(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="map.php{R:1}" />
                </rule>
                <rule name="login">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/login" />
                </rule>
                <rule name="offlineim">
                    <match url="^offlineim$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_offlineim.php" />
                </rule>
                <rule name="sim_grid_info">
                    <match url="^sim_grid_info(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="sim_grid_info.php{R:1}" />
                </rule>
                <rule name="assets">
                    <match url="^assets(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_assets.php{R:1}" />
                </rule>
                <rule name="get_assets_exist">
                    <match url="^get_assets_exist$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_assets_exist.php" />
                </rule>
                <rule name="xinventory">
                    <match url="^xinventory$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_xinventory.php" />
                </rule>
                <rule name="hgfriends">
                    <match url="^hgfriends$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_hgfriends.php" />
                </rule>
                <rule name="friends">
                    <match url="^friends$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_friends.php" />
                </rule>
                <rule name="groups">
                    <match url="^groups$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_groups.php" />
                </rule>
                <rule name="hg-groups">
                    <match url="^hg-groups$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_hggroups.php" />
                </rule>
                <rule name="homeagent">
                    <match url="^homeagent$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_homeagent.php" />
                </rule>
                <rule name="foreignagent">
                    <match url="^foreignagent$" ignoreCase="false" />
                    <action type="Rewrite" url="rest_foreignagent.php" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="/tools" />
                </denyUrlSequences>
                <verbs>
                </verbs>
                <filteringRules>
                </filteringRules>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
